<configuration>
  <appSettings>
      <!--
          https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config



          All appSettings are made available to your Node.js app via environment variables
          You can access them in your app through the process.env object.
          
          process.env.<key>


          alternative: <appSettings configSource="appSettings.config">
      -->
      
     <!-- Unconmment the below appSetting if you'd like to use a Virtual Directory -->
     <!-- <add key="virtualDirPath" value="" /> -->

     <!-- the following line suits: nvm install 16.0.0 && npm install full-icu -g -->
     <add key="NODE_ICU_DATA" value="%programfiles%\nodejs\versions\v16.0.0\node_modules\full-icu" />
  </appSettings>
  
  <system.webServer>

    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to index.js node.js application

    Server Vars: https://msdn.microsoft.com/en-us/library/ms524602(v=vs.90).aspx
    -->

    <iisnode
      promoteServerVars="AUTH_USER,AUTH_TYPE,AUTH_PASSWORD,APPL_MD_PATH,APPL_PHYSICAL_PATH,PATH_INFO,PATH_TRANSLATED,SCRIPT_NAME,SCRIPT_TRANSLATED"

      nodeProcessCommandLine="%programfiles%\nodejs\versions\v15.8.0\node.exe" 

      watchedFiles="*.js;app\*.mjs;package.json;app_data\*.config.json;web.config"
    />
    
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
            <match url=".*" />
            <conditions>
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        
        <rule name="NODE APP">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" />
    
  </system.webServer>
</configuration>